$primary-color:#4938b5;

$screen-large:1550px;
$screen-medium:768px;
$screen-small: 375px;

body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
 
/* Sección superior de la página */
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: #fff;
    width: 100%;
    height: 25px;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu-btn{
    position: absolute;
    display: none;
    cursor: pointer;
    top: 45px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    color: $primary-color;
    
}

.container{
    display: grid;
    grid-template-rows: repeat(1, minmax(50px, 70px) 1fr) ;
    
    nav{
        height: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        img{
            display: flex;
            align-items: center;
            width: 150px;
            margin-left: 120px;
            margin-top: 20px;
        }
        ul{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-right: 120px;
            margin-left: 10px;
            margin-top: 25px;
            li{
                display: flex;
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                color: #1D0D85;
                a{
                    text-decoration: none;
                }
            }
        }
    }
    div{
        a{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

/* Sección de los productos */

.container-product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 100px;
    /* Cartas de los productos */
    .card{
        display: flex;
        flex-direction: column;
        width: 287px;
        height: 400px;
        margin: 45px;
        /* Header de los productos */
        .card-header{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            .new{
                background-color: #5943E3;
                height: 80px;
                width: 90px;
                color: #fff;
                border-bottom-right-radius: 80px;
                p{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                    font-size: 22px;
                    font-weight: 700;
                }
            }
            .discount{
                background-color: #D12727;
                color: #fff;
                height: 40px;
                width: 42px;
                margin-top: 20px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
            }
            img{
                width:  230px;
                height: 230px;
                margin: 0 auto;
            }
        }
    }
    /* Precio y nombre de los productos */
    .card-info{
        background-color: #ededed;
        padding: 10px;
        p{
            display: flex;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            margin-left: 10px;
            span{
                display: flex;
                flex-flow: column wrap;
            }
        }
        .price-original{
            text-decoration: line-through;
            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
            color: #6C757D;
        }
        .price-discount{
            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
            color: $primary-color;
            margin-left: 17px;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            background-color: $primary-color;
            margin-left: 5px;
            color: #fff;
            height: 42px;
            width: 250px;
            font-weight: 500;
            font-size: 16px;
            border-radius: 5px;
            i{
                margin-right: 10px;
            }
        }
        
    }
}


/* Sección de profesionales especialistas */
.container-specialist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 150px;
    h2{
        grid-column-start: 1;
        grid-column-end: -1;
        font-size: 35px;
        font-style: normal;
        color: #1D0D85;
        text-transform: uppercase;
        letter-spacing: 10px;
        line-height: 70px;
        span{
            font-size: 72px;
            font-weight: 500;
            letter-spacing: 15px;
        }
    }
    .section-one{
        grid-column: span 2;
        img{
            width: 779px;
            height: 400px;
            margin: 2px;
        }
    }
    .section-two{
        grid-column: 3 / 4;
        grid-row: span 2;
        img{
            width: 770px;
            height: 610px;
            margin-top: 2px;
            margin-right: 45px;
        }
    }
    .section-three{
        grid-column: span 2;
        img{
            width: 385px;
            height: 200px;
            margin: 2px;
        }
    }
}

/* Sección de la suscripción */
.container-suscribe{
    background-color: #EDEDED;
    display: flex;
    flex-flow: row wrap;
    height: 225px;
    .suscribe-info{
        margin-right: 187px;
        margin-left: 150px;
        margin-top: 50px;
        h3{
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #72757E;
        }
    }
    .container-form{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 187px;
        input{
            width: 480px;
            height: 20px;
            margin-right: 10px;
            margin-left: 50px;
            padding: 10px 10px 10px 16px;
            font-size: 16px;
            font-weight: 300;
            color: #43464E;
            border: none;
        }
        button{
            width: 153px;
            height: 46px;
            border-radius: 50px;
            margin-left: 17px;
            background-color: $primary-color;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            text-transform: uppercase;
            border: none; 
        }
    }
}

/* Media Query para pantalla grande*/

@media (max-width: $screen-large) {

    .menu-btn{
        margin-right: 20px;
        display: block;
        i{
            margin-right: 10px;
            font-size: 21px;
        }
    }

    .container{
        nav{
            ul{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #fff;
                height: 100%;
                padding: 30px;
                opacity: .9;
                transform: translateX(-400px);
                transition: transform .5s ease-in-out;
                li{
                    margin-top: 20px;
                    padding: 20px;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                }
            }
            .hidden-btn{
                display: none;
            }
            .nav-ul.show{
                transform: translateX(-20px);
            }
        }
    }
    
    .container-product{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-left: 30px;
    }

    .container-specialist{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        margin-left: 30px;
        .section-one{
            grid-column: 1;
            img{
                width: 400px;
                height: 250px;
                margin-right: 20px;
            }
        }
        .section-two{
            grid-column: 3 / 4;
            grid-row: span 2;
            img{
                width: 300px;
                height: 460px;
                margin-right: 45px;
            }
        }
        .section-three{
            grid-column: span 2;
            img{
                width: 195px;
                height: 200px;
            }
        }
    }

    .container-suscribe{
        .suscribe-info{
            margin-left: 30px;
        }
        .container-form{
            margin-left: 30px;
        }
    }
}


/* Media query para pantalla mediana*/
@media (max-width: $screen-medium) {

    .container{
        nav{
            img{
                margin-left: 20px;
            }
        }
    }

    .container-product{
        display: grid;
        grid-template-columns: 1fr;
        width: 350px;
        gap: 20px;
        margin-left: 0px;
        .card{
            width: 250px;
            height: 350px;
            margin-bottom: 100px;
            .card-header{
                .new{
                    height: 60px;
                    width: 70px;
                    p{
                        font-size: 16px;
                    }
                }
                .discount{
                    height: 40px;
                    width: 42px;
                    font-size: 12px;
                }
            }
        }
        .card-info{
            a{
                width: 220px;
                margin: 0 auto;
            } 
        }
    }

    .container-specialist{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        h2{
            text-align: center;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 5px;
            span{
                font-size: 24px;
                line-height: 28.13px;
                letter-spacing: 5px;
            }
        }
        .section-one{
            img{
                width: 140px;
                height: 200px;
                margin-left: 40px;
            }
        }
        .section-two{
            img{
                position: absolute;
                right: 20px;
                top: 2522px;
                width: 140px;
                height: 140px;
                margin-right: 20px;

            }
        }
        .section-three{
            img{
                width: 140px;
                height: 140px;
                margin-left: 40px;
            }
            .img-1{
                position: absolute;
                top: 2670px;
                margin-left: 13px;
                width: 140px;
                height: 200px;
            }
        }
    }

    .container-suscribe{
        display: flex;
        flex-direction: row;
        height: 100%;
        margin-top: 20px;
        .suscribe-info{
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            h3{
                font-size: 22px;
                width: 300px;
                margin: 0 auto;
            }
            p{
                font-size: 13px;
            }
        }
        .container-form{
            display: flex;
            flex-direction: column;
            margin-left: 16px;
            input{
                width: 300px;
                height: 20px;
                margin: 0 auto;
            }
            button{
                width: 328px;
                margin-top: 10px;
                margin-bottom: 20px;
                margin-left: 5px;
            }
        }
    }
}

/* Media query para pantalla pequeña*/

@media (max-width: $screen-small) {

    .menu-btn{
        margin: 0 auto;
    }

    .info{
        font-size: 8px;
    }

    .container-product{
        margin-left: 15px;
    }
}