@charset "UTF-8";
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Sección superior de la página */
.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4938b5;
  color: #fff;
  width: 100%;
  height: 25px;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.menu-btn {
  position: absolute;
  display: none;
  cursor: pointer;
  top: 45px;
  right: 30px;
  z-index: 2;
  font-size: 1.5rem;
  color: #4938b5;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(50px, 70px) 1fr)[1];
      grid-template-rows: repeat(1, minmax(50px, 70px) 1fr);
}

.container nav {
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.container nav img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  margin-left: 120px;
  margin-top: 20px;
}

.container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 120px;
  margin-left: 10px;
  margin-top: 25px;
}

.container nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #1D0D85;
}

.container nav ul li a {
  text-decoration: none;
}

.container div a img {
  width: 100%;
  height: 100%;
}

/* Sección de los productos */
.container-product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin: 100px;
  /* Cartas de los productos */
  /* Precio y nombre de los productos */
}

.container-product .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 287px;
  height: 400px;
  margin: 45px;
  /* Header de los productos */
}

.container-product .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-product .card .card-header .new {
  background-color: #5943E3;
  height: 80px;
  width: 90px;
  color: #fff;
  border-bottom-right-radius: 80px;
}

.container-product .card .card-header .new p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  font-size: 22px;
  font-weight: 700;
}

.container-product .card .card-header .discount {
  background-color: #D12727;
  color: #fff;
  height: 40px;
  width: 42px;
  margin-top: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.container-product .card .card-header img {
  width: 230px;
  height: 230px;
  margin: 0 auto;
}

.container-product .card-info {
  background-color: #ededed;
  padding: 10px;
}

.container-product .card-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-left: 10px;
}

.container-product .card-info p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.container-product .card-info .price-original {
  text-decoration: line-through;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #6C757D;
}

.container-product .card-info .price-discount {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #4938b5;
  margin-left: 17px;
}

.container-product .card-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: #4938b5;
  margin-left: 5px;
  color: #fff;
  height: 42px;
  width: 250px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
}

.container-product .card-info a i {
  margin-right: 10px;
}

/* Sección de profesionales especialistas */
.container-specialist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  margin: 150px;
}

.container-specialist h2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
  font-size: 35px;
  font-style: normal;
  color: #1D0D85;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 70px;
}

.container-specialist h2 span {
  font-size: 72px;
  font-weight: 500;
  letter-spacing: 15px;
}

.container-specialist .section-one {
  grid-column: span 2;
}

.container-specialist .section-one img {
  width: 779px;
  height: 400px;
  margin: 2px;
}

.container-specialist .section-two {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  grid-row: span 2;
}

.container-specialist .section-two img {
  width: 770px;
  height: 610px;
  margin-top: 2px;
  margin-right: 45px;
}

.container-specialist .section-three {
  grid-column: span 2;
}

.container-specialist .section-three img {
  width: 385px;
  height: 200px;
  margin: 2px;
}

/* Sección de la suscripción */
.container-suscribe {
  background-color: #EDEDED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 225px;
}

.container-suscribe .suscribe-info {
  margin-right: 187px;
  margin-left: 150px;
  margin-top: 50px;
}

.container-suscribe .suscribe-info h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.container-suscribe .suscribe-info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #72757E;
}

.container-suscribe .container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 187px;
}

.container-suscribe .container-form input {
  width: 480px;
  height: 20px;
  margin-right: 10px;
  margin-left: 50px;
  padding: 10px 10px 10px 16px;
  font-size: 16px;
  font-weight: 300;
  color: #43464E;
  border: none;
}

.container-suscribe .container-form button {
  width: 153px;
  height: 46px;
  border-radius: 50px;
  margin-left: 17px;
  background-color: #4938b5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-transform: uppercase;
  border: none;
}

/* Media Query para pantalla grande*/
@media (max-width: 1550px) {
  .menu-btn {
    margin-right: 20px;
    display: block;
  }
  .menu-btn i {
    margin-right: 10px;
    font-size: 21px;
  }
  .container nav ul {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
    padding: 30px;
    opacity: .9;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  }
  .container nav ul li {
    margin-top: 20px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }
  .container nav .hidden-btn {
    display: none;
  }
  .container nav .nav-ul.show {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  .container-product {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 30px;
  }
  .container-specialist {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    margin-left: 30px;
  }
  .container-specialist .section-one {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .container-specialist .section-one img {
    width: 400px;
    height: 250px;
    margin-right: 20px;
  }
  .container-specialist .section-two {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    grid-row: span 2;
  }
  .container-specialist .section-two img {
    width: 300px;
    height: 460px;
    margin-right: 45px;
  }
  .container-specialist .section-three {
    grid-column: span 2;
  }
  .container-specialist .section-three img {
    width: 195px;
    height: 200px;
  }
  .container-suscribe .suscribe-info {
    margin-left: 30px;
  }
  .container-suscribe .container-form {
    margin-left: 30px;
  }
}

/* Media query para pantalla mediana*/
@media (max-width: 768px) {
  .container nav img {
    margin-left: 20px;
  }
  .container-product {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 350px;
    gap: 20px;
    margin-left: 0px;
  }
  .container-product .card {
    width: 250px;
    height: 350px;
    margin-bottom: 100px;
  }
  .container-product .card .card-header .new {
    height: 60px;
    width: 70px;
  }
  .container-product .card .card-header .new p {
    font-size: 16px;
  }
  .container-product .card .card-header .discount {
    height: 40px;
    width: 42px;
    font-size: 12px;
  }
  .container-product .card-info a {
    width: 220px;
    margin: 0 auto;
  }
  .container-specialist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .container-specialist h2 {
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 5px;
  }
  .container-specialist h2 span {
    font-size: 24px;
    line-height: 28.13px;
    letter-spacing: 5px;
  }
  .container-specialist .section-one img {
    width: 140px;
    height: 200px;
    margin-left: 40px;
  }
  .container-specialist .section-two img {
    position: absolute;
    right: 20px;
    top: 2522px;
    width: 140px;
    height: 140px;
    margin-right: 20px;
  }
  .container-specialist .section-three img {
    width: 140px;
    height: 140px;
    margin-left: 40px;
  }
  .container-specialist .section-three .img-1 {
    position: absolute;
    top: 2670px;
    margin-left: 13px;
    width: 140px;
    height: 200px;
  }
  .container-suscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    margin-top: 20px;
  }
  .container-suscribe .suscribe-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30px;
  }
  .container-suscribe .suscribe-info h3 {
    font-size: 22px;
    width: 300px;
    margin: 0 auto;
  }
  .container-suscribe .suscribe-info p {
    font-size: 13px;
  }
  .container-suscribe .container-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 16px;
  }
  .container-suscribe .container-form input {
    width: 300px;
    height: 20px;
    margin: 0 auto;
  }
  .container-suscribe .container-form button {
    width: 328px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
  }
}

/* Media query para pantalla pequeña*/
@media (max-width: 375px) {
  .menu-btn {
    margin: 0 auto;
  }
  .info {
    font-size: 8px;
  }
  .container-product {
    margin-left: 15px;
  }
}
/*# sourceMappingURL=style.css.map */